<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Todo App</title>
    <link rel="stylesheet" href="styles/main.css">

    <script src="js/vendor/jquery-2.1.0.min.js"></script>
    <script src="js/vendor/underscore-1.6.0.min.js"></script>
    <script src="js/vendor/underscore-mixins.js"></script>
    <script src="js/vendor/backbone-1.1.2.min.js"></script>
    <script src="js/vendor/localforage.min.js"></script>
    <script src="js/vendor/backbone.localforage.min.js"></script>
</head>
<body>
    <main id="todo-app">

        <section class="todo-app-container">

            <header class="todo-app-header">
                <h1>My Todo App</h1>
            </header>

            <form id="new-todo">
                <input class="new-todo-input" type="text" placeholder="What do I need to do?">
                <button class="new-todo-btn" type="submit" title="Create Todo">Create</button>
            </form>

            <div id="todo-list-container"></div>

        </section>
    </main>

    <script type="text/template" id="todo-item-template">

        <!--
        // 3e. TO COMPLETE
        // --------------
        // Finally we again need the template to add the appropriate property to the element
        // for our styles to kick in. In this case, we want to add the 'complete' class to
        // the todo-item. We can do this using the `complete ? 'complete' : ''` helper.
        -->
        <div id="<%= id %>" class="todo-item">

            <a class="toggle-complete table-cell" href="javascript:void(0)"></a>

            <!--
            // 2c. TO COMPLETE
            // --------------
            // When we add a new todo to the list, we can pass its properties to the template
            // associated with the model. In this case, in the label we want to pass the 'title'
            // of the todo (The same what that was done for `id`)
            -->
            <div class="table-cell todo-title toggle-edit <%= editing ? 'editing' : '' %>">
                <span class="todo-label"></span>
                <input class="todo-title-edit" type="text" value="<%= title %>">
            </div>

            <a class="remove-todo table-cell icon-remove" href="javascript:void(0)"></a>

        </div>
    </script>

    <script src="js/app/app.js"></script>
    <script src="js/app/vent.js"></script>
    <script src="js/app/todo-model.js"></script>
    <script src="js/app/todo-model-view.js"></script>
    <script src="js/app/todo-collection.js"></script>
    <script src="js/app/todo-collection-view.js"></script>
    <script src="js/main.js"></script>

</body>
</html>
