<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">

        <title>reveal.js - The HTML Presentation Framework</title>

        <meta name="description" content="A framework for easily creating beautiful presentations using HTML">
        <meta name="author" content="Hakim El Hattab">

        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <link rel="stylesheet" href="css/reveal.min.css">
        <link rel="stylesheet" href="css/theme/default.css" id="theme">

        <!-- For syntax highlighting -->
        <link rel="stylesheet" href="lib/css/zenburn.css">

        <!-- If the query includes 'print-pdf', include the PDF print sheet -->
        <script>
            if( window.location.search.match( /print-pdf/gi ) ) {
                var link = document.createElement( 'link' );
                link.rel = 'stylesheet';
                link.type = 'text/css';
                link.href = 'css/print/pdf.css';
                document.getElementsByTagName( 'head' )[0].appendChild( link );
            }
        </script>

        <!--[if lt IE 9]>
        <script src="lib/js/html5shiv.js"></script>
        <![endif]-->
    </head>

    <body>

        <div class="reveal">

            <!-- Any section element inside of this container is displayed as a slide -->
            <div class="slides">
                <section>
                    <h2>Summer of Tech</h2>
                    <h3>MVC wit Backbone</h3>
                </section>

                <section>
                    <h2>Hi!</h2>
                    <p>Little about me...</p>
                    <ul>
                        <li>Currently working at Vend (They're awesome!)</li>
                        <li>Been coding for 5 years</li>
                        <li>Fell in love with JavaScript over 2 years ago</li>
                    </ul>
                </section>

                <section>
                    <h2>Covering...</h2>
                    <ul>
                        <li>MVC - You might have heard of it...</li>
                        <li>How Backbone.js does it</li>
                        <li>Creating our own app</li>
                    </ul>
                </section>

                <section>
                    <h2>MVC</h2>
                    <ul>
                        <li>M is for <span class="fragment" style="color: blue;">Model</span></li>
                        <li>V is for <span class="fragment" style="color: blue;">View</span></li>
                        <li>C is for <span class="fragment" style="color: red;">COLLECTION!</span></li>
                    </ul>
                    <p class="fragment">
                        There are Controllers, But in this case, we are simplifying things by just talking about interactions between a collection of models and their views via custom and DOM events
                    </p>
                </section>

                <section>
                    <section data-transition="none">
                        <h2>Model</h2>
                        <p>Representation of Data</p>
                        <ul>
                            <li>Is reusable</li>
                            <li>Can be persisted</li>
                            <li>Can throw custom events</li>
                        </ul>
                    </section>

                    <section data-transition="none">
                        <img class="image" width="700" src="images/Model.svg" style="border: none; box-shadow: none; background: none;">
                    </section>

                    <section data-transition="none">
                        <img class="image" width="700" src="images/ModelAttributes.svg" style="border: none; box-shadow: none; background: none;">
                    </section>

                    <section data-transition="none">
                        <img class="image" width="700" src="images/ModelAttributeChange.svg" style="border: none; box-shadow: none; background: none;">
                    </section>

                    <section data-transition="none">
                        <img class="image" width="700" src="images/ModelCustomEvent.svg" style="border: none; box-shadow: none; background: none;">
                    </section>
                </section>

                <section>
                    <section data-transition="none">
                        <h2>Collection</h2>
                        <p>A collection of... <span class="fragment">MODELS!</span></p>
                        <ul>
                            <li>Great for performing manipulations and computations on multiple models</li>
                            <li>Can be persisted</li>
                            <li>A great listener!
                                <ul>
                                    <li>Can listen to attribute changes on it's models</li>
                                    <li>Can listen to custom events thrown by models</li>
                                </ul>
                            </li>
                        </ul>
                    </section>

                    <section data-transition="none">
                        <img class="image" width="700" src="images/Collection.svg" style="border: none; box-shadow: none; background: none;">
                    </section>

                    <section data-transition="none">
                        <img class="image" width="700" src="images/CollectionModelAttrChange.svg" style="border: none; box-shadow: none; background: none;">
                    </section>

                    <section data-transition="none">
                        <img class="image" width="700" src="images/CollectionModelAttrChangeListen.svg" style="border: none; box-shadow: none; background: none;">
                    </section>

                    <section data-transition="none">
                        <img class="image" width="700" src="images/CollectionModelCustomEvent.svg" style="border: none; box-shadow: none; background: none;">
                    </section>

                    <section data-transition="none">
                        <img class="image" width="700" src="images/CollectionModelCustomEventListen.svg" style="border: none; box-shadow: none; background: none;">
                    </section>

                    <section data-transition="none">
                        <img class="image" width="700" src="images/CollectionModelRemove.svg" style="border: none; box-shadow: none; background: none;">
                    </section>
                </section>

                <section>
                    <section data-transition="none">
                        <h2>View</h2>
                        <p>Links the DOM and the models</p>
                        <ul>
                            <li>Manipulate the DOM based on model state and attributes</li>
                            <li>Updates models based on user interaction with the DOM</li>
                            <li>It's all about events!</li>
                        </ul>
                    </section>

                    <section data-transition="none">
                        <img class="image" width="700" src="images/ViewModel.svg" style="border: none; box-shadow: none; background: none;">
                    </section>

                    <section data-transition="none">
                        <img class="image" width="700" src="images/ViewListenModel.svg" style="border: none; box-shadow: none; background: none;">
                    </section>

                    <section data-transition="none">
                        <img class="image" width="700" src="images/ViewDomInteraction.svg" style="border: none; box-shadow: none; background: none;">
                    </section>

                    <section data-transition="none">
                        <img class="image" width="700" src="images/ViewDomInteractionCatch.svg" style="border: none; box-shadow: none; background: none;">
                    </section>

                    <section data-transition="none">
                        <img class="image" width="700" src="images/ViewDomInteractionModelUpdate.svg" style="border: none; box-shadow: none; background: none;">
                    </section>

                </section>

                <section>
                    <section data-transition="none">
                        <h2>Let's take a real example</h2>
                        <p>This is what you're hopefully going to make by the end of this session...</p>
                    </section>

                    <section data-transition="none">
                        <img class="image" width="700" src="images/TodoListImage.svg" style="border: none; box-shadow: none; background: none;">
                    </section>

                    <section data-transition="none">
                        <img class="image" width="700" src="images/TodoListImageCollection.svg" style="border: none; box-shadow: none; background: none;">
                    </section>

                    <section data-transition="none">
                        <img class="image" width="700" src="images/TodoListImageModel.svg" style="border: none; box-shadow: none; background: none;">
                    </section>

                    <section data-transition="none">
                        <img class="image" width="700" src="images/TodoListImageModelAttributes.svg" style="border: none; box-shadow: none; background: none;">
                    </section>

                    <section data-transition="none">
                        <img class="image" width="700" src="images/TodoListImageModelCustomEvent.svg" style="border: none; box-shadow: none; background: none;">
                    </section>
                </section>

                <section>
                    <section>
                        <h2>Enough of the pretty stuff!</h2>
                        <p>Let's take a look at some code!</p>
                    </section>

                    <section>
                        <h2>Models</h2>
                        <pre>
                            <code class="javascript" data-trim contenteditable>
App.Todo = Backbone.Model.extend({

    defaults: {
        title: '',
        complete: false
    },

    doSomething: function () {
        // I should really write a todo to finish this function...
    }

});
                            </code>
                        </pre>
                    </section>

                    <section>
                        <h2>Some useful functions</h2>
                        <pre>
                            <code class="javascript" data-trim contenteditable>
// Getting attributes within model.
Model.get('complete');


// Setting attributes within model.
Model.set('complete', true);


// Saving attributes to the synced database.
Model.save({
    complete: true
});
                            </code>
                        </pre>
                    </section>

                    <section>
                        <h2>Collections</h2>
                        <pre>
                            <code class="javascript" data-trim contenteditable>
App.TodoCollection = Backbone.Collection.extend({

    // Reference to the model of this collection.
    model: App.Todo

});
                            </code>
                        </pre>
                    </section>

                    <section>
                        <h2>Some useful functions</h2>
                        <pre>
                            <code class="javascript" data-trim contenteditable>
// Fetching models from synced database.
Collection.fetch({
    success: function (collectionOfThings) {
        // Should really do something with these things...
    }
});


// Creating and adding new model to the collection.
Collection.create({
    title: 'Create Todo List'
});
                            </code>
                        </pre>
                    </section>

                    <section>
                        <h2>Views</h2>
                        <pre>
                            <code class="javascript" data-trim contenteditable>
App.TodoView = Backbone.View.extend({

    initialize: function() {
        // First function that is called when you create a new view.
        // Great for setting up event listeners.
    },

    // DOM events mapping to functions within this view.
    events: {
        'click .toggle-complete': 'toggleComplete'
    },

    toggleComplete: function() {
        // OK I'm done!
    }

});
                            </code>
                        </pre>
                    </section>

                    <section>
                        <h2>Some useful functions</h2>
                        <pre>
                            <code class="javascript" data-trim contenteditable>
// Access the views model
View.model;


// Access the views collection
View.collection;


// Listen to model attribute change events
View.listenTo(this.model, 'change', this.render);
                            </code>
                        </pre>
                    </section>

                    <section>
                        <h2>Templates</h2>
                        <pre>
                            <code class="php" data-trim contenteditable>
<div id="<%= id %>" class="<%= complete ? 'complete' : '' %>">

    <a class="toggle-complete" href="javascript:void(0)"></a>

    <span class="todo-label"><%= title %></span>

    <a class="remove-todo" href="javascript:void(0)"></a>

</div>
                            </code>
                        </pre>
                    </section>

                    <section>
                        <h2>Some useful functions</h2>
                        <pre>
                            <code class="php" data-trim contenteditable>
# Pass attribute value
<%= title %>


# Pass custom value based on properties boolean value
<%= complete ? 'complete' : ''%>
                            </code>
                        </pre>
                    </section>

                    <section>
                        <h2>Global Events</h2>
                        <pre>
                            <code class="javascript" data-trim contenteditable>
// Binding to a global event.
Vent.bind('some-global-event', function (data) {
    // Oh! I'll do something with that data now!
});


// Triggering a global event.
Vent.trigger('some-global-event', { data: 'Everything is awesome!' });
                            </code>
                        </pre>
                    </section>

                </section>

                <section>
                    <h2>Ok! Enough chit-chat! Let's code!</h2>
                </section>

            </div>

        </div>

        <script src="lib/js/head.min.js"></script>
        <script src="js/reveal.min.js"></script>

        <script>

            // Full list of configuration options available here:
            // https://github.com/hakimel/reveal.js#configuration
            Reveal.initialize({
                controls: true,
                progress: true,
                history: true,
                center: true,

                theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
                transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

                // Parallax scrolling
                // parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
                // parallaxBackgroundSize: '2100px 900px',

                // Optional libraries used to extend on reveal.js
                dependencies: [
                    { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
                    { src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
                    { src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
                    { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
                    { src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
                    { src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
                ]
            });

        </script>

    </body>
</html>
